* {
    background-color: rgb(21, 10, 47);
    margin: 0px;
    padding: 1px;
    text-align: center;
    color: white;
}

.popup {
    text-align: center;
    justify-content: center;
}

.container {
    margin: auto;
    min-height: 410px;
    min-width: 410px;
    max-height: 645px;
    max-width: 645px;
}

.grid {
    display: grid;
    border: solid 1px;
}

.square {
    aspect-ratio: 1/1;
    display: flex;
    background-color: red;
    border: solid 1px;
    border-color: black;
}